<h3 style="color: #008080; font-size: 40px; font-family: Arial; text-align: center;">To Do</h3>
<div>
    <form method="POST", action="/" style="width: 350px; height: 70px; margin: auto;">
        {% csrf_token %}
        <label for="title" style="height:100px; width:200px;">{{form.title}}</label>
        <input type="submit" value="Submit" style="background-color: #48d1cc; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; border-radius: 10px; font-size: 16px; margin: 4px 2px; cursor: pointer;">
    </form>
    {% for task in tasks %}
        <div style="width: 350px; height: 50px; margin: auto; background-color: #ffdab9; padding-top: 15px;">
            <a target="_blank" style="background-color: #008080	; color: white; padding: 10px; text-decoration: none; display: inline-block; border-radius: 8px; cursor: pointer;" href="{% url 'update_task' task.id %}">Update</a>
            <a target="_blank" style="background-color: #4682b4	; color: white; padding: 10px; text-decoration: none; display: inline-block; border-radius: 8px; cursor: pointer;" href="{% url 'delete' task.id %}">Delete</a>

            {% if task.complete == True %}
            <strike>{{task}}</strike>
            {% else %}
            <span style="font-size: 18; font-family: 'Times New Roman'; font-style: italic;">{{task}}</span>
            {% endif %}
        </div>
    {% endfor %}
</div>
<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>